name: pipeline di build nodejs
on:
  push:
    branches: ["develop"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v4

       - name: testing
         run: npm run test
    
  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
       - uses: actions/checkout@v4

       - name: building
         run: npm run build